package main

import (
	bolt "go.etcd.io/bbolt"
	"fmt"
)

func PGFisherPluginInit(args PluginInitArgs) (Plugin, error) {
	plugin := &ExamplePlugin{
		dbh: args.dbh,
	}
	return plugin, nil
}

type ExamplePlugin struct {
	dbh *bolt.DB
}

func (p *ExamplePlugin) Process(streamPos *LogStreamPosition, record []string) error {
	le, err := NewLogEntry(record)
	if err != nil {
		return err
	}
	fmt.Printf("%s\n", le.Message())
	return nil
}
